.main{
    width: calc(100%-250px);
    margin-left: 250px;
    min-height: 100vh;
    background-color: #31353d;
}
.main >h1{
    padding-top: 80px;
    font-size: 30px;
    color: #ffcd00;
    text-align: center;
}
.container{
    width: 90%;
    margin: auto
}
.table{
    min-width: 300px;
    width: 100%;
    height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}
.table > h1{
    margin:20px 0px;
    font-size: 24px;
    font-weight: 500;
    color: #fff;
}


.inputDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin: auto;
    height: 100%;


}
.inputDiv h4{
    color: #FFCD00;
    font-size: 18px;
    font-weight: 550;
    line-height: 1.3;
    margin-bottom: 20px;
}
.inInput{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.inInput form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.inInput input{
    padding: 0 15px;
    height: 35px;
    border-radius: 17px;
    outline: none;
    border: 0;
    font-size: 16px;
}
.inInput input:focus{
    box-shadow: 1px 0px 8px 3px #5a84ce;
}
.inInput button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 25px;
    padding: 0 10px;
    height: 35px;
    background-color: navy;
    color: #FFCD00;
    border: 0;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    transition: all .3s ease;
}
.inInput button svg{
    width: 20px;
    height: 20px;
}
.inInput button:active{
    transform: scale(.8);
    transition: all .3s ease;
}



.eachTable{
    overflow-x: auto;
    min-height: 20vh;
    padding: 20px 0px;
    width: 100%;
    border: 1px solid #ffcd00;
}
.eachTable span{
    color: #ffcd00;
    font-size: 15px;
}
.eachTable h2{
    color: aliceblue;
}
.input{
    display: flex;
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
    
}
.firstRow{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 30px;
}
/* .container h2{
    font-size: 18px;
} */
.firstRow > div{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ffcd00;
    margin: 10px 0px;
}
.firstRow h2{
    font-size: 16px;
}
.secondRow{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 30px;
    border-bottom: 1px solid #ffcd00;
    margin: 10px 0px;
}
.secondRow h2{
    max-width: 30%;
    /* min-width: 170px; */
    font-size: 14px;
}
.thirdRow{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 30px;
    border-bottom: 1px solid #ffcd00;
    margin: 10px 0px;
}
.thirdRow h2{
    min-width: 150px;
    font-size: 14px;
}



@media screen and (max-width: 770px){
    .main{
        width: 100%;
        margin: 0px;
    }
    .main>h1{
        text-align: center;
        font-size: 20px;
        color: #ffcd00;
    }
    .inputDiv{
        width: 90%;
    }
}
@media screen and ( max-width: 600px) {
    .inputDiv{
        flex-direction: column;
    }
}