.main{
    width: calc(100% - 250px);
    margin-left: 250px;
    height: 100%;
    padding: 50px 0px;
}
.main>h1{
    font-size: 40px;
    font-family: pt sans,sans-serif;
    color: #31353d;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    text-align: center;
}
.card:hover h1{
    color: #ffcd00;
}
.card:hover .image{
    transform: scale(1.1);
    transition: all 1s ease;
}
.main>h3{
    text-align: center;
    font-size: 15px;
    font-family: pt sans,sans-serif;
    color: #ffcd00;
    font-weight: 700;
    padding: 12px 0px;
}
.container{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}
.card{
    margin: 10px;
    border: 1px solid #444;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
.image{
    width: 100%;
    background-size: cover;
    background-position: center;
    min-height: 30vh;
    max-height: 30vh;
    overflow: hidden;
    transition: all 1s ease;
}
.image:hover{
    transform: scale(1.1);
    transition: all 1s ease;
}
.card h5{
    background: #ffcd00;
    text-align: center;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    padding: 8px 15px;
    width: 60px;

}
.card h1{
    font-size: 20px;
    line-height: 28px;
    font-family: open sans,sans-serif;
    font-weight: 700;
    color: #31353d;
    padding-top: 12px;
    transition: all 400ms linear 0s;
    text-align: center;
    width: 70%;
    margin:10px auto;
}
.card h3{
    font-size: 12px;
    color: #444;
    font-family: open sans,sans-serif;
    padding: 10px 0 25px;
    text-align: center;
}
.card p{
    text-align: left;
    font-size: 15px;
    color: #444;
    line-height: 20px;
    font-family: open sans,sans-serif;
    padding-bottom: 55px;
    width: 90%;
    margin: auto;
}
@media screen and (max-width: 900px){
    .container{
        flex-direction: column;
    }
    .card{
        width: 80%;
        margin: 10px auto;
    }
    .image{
        min-height: 50vh;
    }
}
@media screen and (max-width: 770px){
    .main{
        width: 100%;
        margin: 0px;
    }
}
@media screen and (max-width: 500px){
    .card{
        width: 100%;
    }
    .card h1{
        font-size: 16px;
        line-height: 20px;
        width: 90%;
    }
    .card p{
        font-size: 12px;
        text-align: center;
    }
}