.languageButton1{
    position: absolute;
    width: 30px;
    height: 20px;
    right: 5%;
    z-index: 101;
    background-color: #ffcd00;
    color:rgb(38, 42, 49);
    top: 98px;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    border-radius: 5px;
    cursor: pointer;
}
.languageButton2{
    position: absolute;
    width: 30px;
    height: 20px;
    right: calc(5% + 40px);
    z-index: 101;
    background-color: #ffcd00;
    color: rgb(38, 42, 49);
    top: 98px;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    border-radius: 5px;
    cursor: pointer;
}