.main{
    width: calc(100% - 250px);
    margin-left: 250px;
    min-height: 90vh;
    box-sizing: border-box;
    padding: 20px;
    padding-top: 50px;
    background-color: #31353d;
}
.container{
    padding-top: 100px;
    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.info_buttons{
    width: 25%;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.top h1{
    font-size: 40px;
    font-family: pt sans,sans-serif;
    color: #31353d;
    font-weight: 700;
    text-transform: uppercase;
}
.top h3{
    font-size: 15px;
    font-family: pt sans,sans-serif;
    color: #ffcd00;
    font-weight: 700;
    padding: 12px 0px;
}
.bottom{
    display: flex;
    width: 100%;
    height: 60%;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
}
.bottom h3{
    line-height: 24px;
    font-size: 14px;
    font-family: open sans,sans-serif;
    color: #444;
    cursor: pointer;
}

.cards{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}
.card{
    width: 100%;
    min-height: 300px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 1s ease;
}
.card:hover .info{
    background-color: #ffcd00;
    opacity: .9;
    transition: all 1s ease;
}
.card:hover .info a{
    opacity: 1;
    transform: translateY(5px);
    transition: all 1s ease;
}
.info{
    width: 80%;
    height: 80%;
    border:1px solid #ffcd00;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.info a{
    transition: all 1s ease;
    font-size: 18px;
    text-transform: uppercase;
    font-family: montserrat,sans-serif;
    font-weight: 700;
    color: #444;
    opacity: 0;
    transform: translateY(-5px);
    text-decoration:none
}

@media screen and (max-width:1200px){
    .container{
        flex-direction: column;
    }
    .info_buttons{
        width: 100%;
        min-height: 20vh;
    }
    .bottom{
        flex-direction: row;
        width: 100%;
        padding: 20px;
    }
    .bottom h3{
        font-size: 10px;
    }
    .cards{
        width: 100%;
    }
}
@media screen and (max-width:1000px){
    .cards{
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width:770px){
    .main{
        width: 100%;
        margin: 0px;
    }
    
    .cards{
        width: 80%;
        margin: auto;
        grid-gap: 0px;

    }
    .card{
        align-self: center;
        width: 100%;
        height: 200px;
        margin: 0px;
    }
    .bottom{
        width: 90%
    }
}
@media screen and (max-width:700px){
    .cards{
        width: 100%;
        margin: auto;
        grid-gap: 0px;

    }
    .bottom{
        width: 100%;
        padding: 20px 0px;
        flex-direction: column;
        width: 100%;
        align-items: baseline;
    }
    .bottom h3{
        font-size: 14px;
        font-weight: 100;
        letter-spacing: 3px;
    }
}
@media screen and (max-width:650px){
    .cards{
        grid-template-columns: 1fr;
    }
    .bottom{
        padding: 20px 0px;
    }
}