.main{
    width: calc(100% - 250px);
    margin-left: 250px;
    height: 30vh;
    background-color: #31353d;
}
.container{
    width: 80%;
    margin: auto;
    height: 100%;
}
.cards{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #eee;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.card svg{
    /* fill: #eee; */
    height: 40px;
    width: 40px;
}
.card h1{
    font-size: 35px;
    font-family: open sans,sans-serif;
    font-weight: 600;
    padding: 13px 0 10px;
}
.card h3{
    font-size: 16px;
    font-family: open sans,sans-serif;
    text-transform: uppercase;
}
@media screen and (max-width:1000px){
    .main{
        height: 100%;
        padding: 20px;
    }
    .cards{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 770px){
    .main{
        width: 100%;
        margin: 0px;
    }
}
@media screen and (max-width:700px){
    .main{
        height: 100%;
        padding: 20px;
    }
    .cards{
        display: grid;
        grid-template-columns: 1fr;
    }
}